PORT=3000
CLIENT_ORIGIN="http://localhost:3001"
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/file_storage_service?schema=public"
JWT_SECRET="development-jwt-secret"
REDIS_HOST="localhost"
REDIS_PORT="6379"
SEED_DEV_DATA=true
SEED_DEV_PASSWORD=seed-dev-password
